In [1]:
! pip install boto3 pymongo twitter --quiet

In [2]:
from pymongo import MongoClient

In [3]:
mongo_client = MongoClient('18.236.138.158', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [4]:
cursor = collection_reference.find()

In [5]:
next(cursor)

{'_id': ObjectId('5b562057cfd9de0efb61d3b5'),
 'created_at': 'Sat Jul 21 20:58:43 +0000 2018',
 'id': 1020775097898917888,
 'id_str': '1020775097898917888',
 'text': 'Canâ€™t wait to go home and play video games already smh',
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 3096943027,
  'id_str': '3096943027',
  'name': 'mattygeee',
  'screen_name': 'Mattygeee1',
  'location': 'Los Angeles, CA',
  'url': None,
  'description': None,
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 286,
  'friends_count': 399,
  'listed_count': 4,
  'favourites_count': 7501,
  'statuses_count': 17775,
  'created_at': 'Thu Mar 19 01:14:05 +0000 2015',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_link_color': 'E81C4F',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/3096943027/1522005281',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': {'id': '59612bd882018c51',
  'url': 'https://api.twitter.com/1.1/geo/id/59612bd882018c51.json',
  'place_type': 'city',
  'name': 'Santa Monica',
  'full_name': 'Santa Monica, CA',
  'country_code': 'US',
  'country': 'United States',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[-118.517358, 33.995177],
     [-118.517358, 34.050199],
     [-118.443482, 34.050199],
     [-118.443482, 33.995177]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [], 'urls': [], 'user_mentions': [], 'symbols': []},
 'favorited': False,
 'retweeted': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1532206723080'}

In [6]:
cursor = collection_reference.find()

In [8]:
cursor.count()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

11748

In [9]:
collection_reference.count_documents({})

11748

In [13]:
cursor_sampl = collection_reference.aggregate(
    [{'$sample': {'size': 20}}]
)

In [14]:
len(list(cursor_sampl))

20

In [15]:
next(cursor_sampl)

StopIteration:

In [22]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [23]:
tw = next(cursor_sampl)

In [26]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'display_text_range', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'quoted_status_id', 'quoted_status_id_str', 'quoted_status', 'quoted_status_permalink', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'possibly_sensitive', 'filter_level', 'lang', 'timestamp_ms'])

In [27]:
list(tw.values())[:5]

[ObjectId('5b58acba3aed5a010fe90da6'),
 'Wed Jul 25 16:55:52 +0000 2018',
 1022163536615694337,
 '1022163536615694337',
 'thats nuts https://t.co/NzAyrN6j1v']

In [28]:
import pandas as pd

In [29]:
cursor = collection_reference.aggregate([{'$sample': {'size': 5}}])

tw_sample_df = pd.DataFrame(list(cursor))

In [30]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_tweet                object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
dtype: object

In [31]:
tw_sample_df.select_dtypes([int])

,favorite_count,id,quote_count,reply_count,retweet_count
0,0,1022175928812589056,0,0,0
1,0,1022300371669069824,0,0,0
2,0,1022288863878729729,0,0,0
3,0,1020775097898917888,0,0,0
4,0,1022299225898381313,0,0,0

In [32]:
tw_sample_df.select_dtypes([float])

   in_reply_to_status_id  in_reply_to_user_id
0                    NaN                  NaN
1                    NaN                  NaN
2           1.021782e+18           54412900.0
3                    NaN                  NaN
4                    NaN                  NaN

In [37]:
tw_sample_df.select_dtypes(['object'])

,_id,contributors,coordinates,display_text_range,entities,extended_tweet,filter_level,geo,id_str,in_reply_to_screen_name,in_reply_to_status_id_str,in_reply_to_user_id_str,lang,place,possibly_sensitive,source,text,timestamp_ms,user
0,5b58b8373aed5a010fe91774,None,None,"[0, 140]","{'hashtags': [{'text': 'fantasy', 'indices': [...",{'full_text': 'Floating created by Leon Avanes...,low,None,1022175928812589056,None,None,None,en,"{'id': 'fbd6d2f5a4e4a15e', 'url': 'https://api...",False,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Floating created by Leon Avanesian\nhttps://t....,1532540707196,"{'id': 842869476416614400, 'id_str': '84286947..."
1,5b592b4635c77d003438aa03,None,None,NaN,"{'hashtags': [], 'urls': [{'url': 'https://t.c...",{'full_text': 'So the other day Richards mom o...,low,None,1022300371669069824,None,None,None,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",So the other day Richards mom offered to buy m...,1532570376685,"{'id': 3181547449, 'id_str': '3181547449', 'na..."
2,5b59232139cb64017fc81e48,None,None,"[12, 114]","{'hashtags': [{'text': 'family', 'indices': [1...",NaN,low,None,1022288863878729729,DevinNunes,1021781905929396225,54412900,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",@DevinNunes Trump is Putinâ€™s bitch. And you a...,1532567633014,"{'id': 558830371, 'id_str': '558830371', 'name..."
3,5b5923de0cff4002d5673f84,None,None,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1020775097898917888,None,None,None,en,"{'id': '59612bd882018c51', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",Canâ€™t wait to go home and play video games alr...,1532206723080,"{'id': 3096943027, 'id_str': '3096943027', 'na..."
4,5b592a5135c77d003438a920,None,None,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1022299225898381313,None,None,None,en,"{'id': 'fbd6d2f5a4e4a15e', 'url': 'https://api...",NaN,"<a href=""http://twitter.com/download/iphone"" r...",relationships are kinda like acid,1532570103512,"{'id': 4422532634, 'id_str': '4422532634', 'na..."

In [38]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [39]:
tw_sample_df.created_at

0   2018-07-25 17:45:07
1   2018-07-26 01:59:36
2   2018-07-26 01:13:53
3   2018-07-21 20:58:43
4   2018-07-26 01:55:03
Name: created_at, dtype: datetime64[ns]

## Tweets Containing Geo Information

In [40]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

In [41]:
collection_reference.count_documents({'geo' : { '$ne' : None}})

1581

## Distinct Users

#### TRY THIS

In [31]:
len(collection_reference.distinct('user'))

2147